#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 1px solid wheat;
}

.top__item {
  width: calc((100% - (10px * 3)) / 3);
  height: calc((100% - (10px * 3)) / 3);
  border: 1px solid wheat;
}

.bottom__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  width: 400px;